/* --------- INFORMAÇÕES BÁSICA --------- */

/*



*/

/* --------- GERAL --------- */

:root{
    --primaria: #00baf2;
    --secundaria: #95989a;
    --texto-princial: #fff;
    --texto-secundario: #000;
    --texto-terciario: #5d5d5d;
}

*{
    margin: 0px;
    font-family: "Montserrat", Helvetica, sans-serif;
}

/* --------- HEADER --------- */

header{
    background-image: url("../images/hrz-5.jpg");
    background-size: cover;
    background-position: left center;
    color: var(--texto-princial);
    height: 85vh;
}

.blur{
    background-color: rgba(0, 0, 0, 0.8);
    height: 100%;
}

header .blur{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.div-info{
    width: 380px;
}

.div-info > h1{
    font-size: 3em;
    color: var(--primaria);
    margin-bottom: 48px;
}

.div-info > h2{
    font-size: 2em;
    text-transform: uppercase;
    margin-bottom: 32px;
}

.div-info > h3{
    font-size: 1.2em;
    font-weight: normal;
    margin-bottom: 6px;
}

.div-info > h4{
    font-size: 1.2em;
    color: var(--primaria);
}


.div-form{
    font-weight: bold;
    background-color: var(--secundaria);
    padding: 32px;
    width: 280px;
}

.div-form > h2{
    color: var(--texto-secundario);
    font-size: 1.5;
    font-weight: normal;
    margin-bottom: 24px;
}

.div-form label{
    color: var(--texto-terciario);
    display: inline-block;
    margin-bottom: 6px;
}

input, select{
    width: 100%;
    border: none;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 13px;
}

[type="submit"]{
    color: var(--texto-princial);
    background-color: var(--primaria);
    text-transform: uppercase;
    margin-bottom: 0px;
}

/* --------- SECTION-01 --------- */

.section-01{
    background-color: var(--secundaria);
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-01 > h2{
    font-weight: 500;
}

/* --------- SECTION-02 --------- */

.section-02{
    display: flex;
    justify-content: space-evenly;
    height: 470px;
    margin: 0px 60px;
    align-items: center;
}

.card{
    width: 250px;
    text-align: center;
}


.img-bg{
    background-color: #95989a;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background-size: cover;

}

.c1 > .img-bg{
    background-image: url("../images/sqr-1.jpg");
}

.c2 > .img-bg{
    background-image: url("../images/sqr-2.jpg");
}

.c3 > .img-bg{
    background-image: url("../images/sqr-3.jpg");
}

.card > p{
    margin-top: 16px ;
}

/* --------- SECTION-03 --------- */

.section-03{
    height: 400px;
    background-image: url("../images/hrz-1.jpg");
    background-size: cover;
    background-position: center center;
    color: var(--texto-princial);
}

.section-03 .blur{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.div-location{
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.bi-geo-alt-fill{
    color: var(--primaria);
    font-size: 60px;
}

.div-location > p{
    text-align: center;
    font-size: 1.3em;
    font-weight: normal;
}

.div-text{
    display: flex;
    flex-direction: column;
    width: 370px;
}

.div-text > h2{
    font-size: 2.5em;
    color: var(--primaria);
    text-transform: uppercase;
    margin-bottom: 40px;
}

.div-text > p {
    line-height: 1.5em;
}
